<% provide(:title, @user.fullname) %>

<div class="row">
  <aside class="col-md-4">
    <section>
      <h1>
        <%= image_tag(@user.avatar.url, :title => @user.fullname) %>
        <%= @user.fullname %>
      </h1>

      <% if user_signed_in? && (current_user != @user) %>
        <% if current_user.follow?(@user) %>
          <%= button_to("Unfollow", unfollow_user_path(@user), :method => :post, :class => 'button btn btn-danger') %>
        <% else %>
          <%= button_to("Follow", follow_user_path(@user), :method => :post, :class => 'button btn btn-primary') %>
        <% end %>
      <% end %>
    </section>

    <% unless @user.albums.blank? %>
      <section>
        <h3><strong><%= @user.albums.count %></strong> albums</h3>
        <p>
          <% @user.albums.each do |album| %>
            <%= link_to image_tag(album.cover.image.thumb.url, :title => album.name), album %>
          <% end %>
        </p>
      </section>
    <% end %>

    <% unless @user.pictures.blank? %>
      <section>
        <h3><strong><%= @user.pictures.count %></strong> pictures</h3>
        <p>
          <% @user.pictures.each do |picture| %>
            <%= link_to image_tag(picture.image.thumb.url, :title => picture.title), picture %>
          <% end %>
        </p>
      </section>
    <% end %>

    <% unless @user.following.blank? %>
      <section>
        <h3><strong><%= @user.following.count %></strong> following</h3>
        <p>
          <% @user.following.each do |user| %>
            <%= link_to image_tag(user.avatar.thumb.url, :title => user.fullname), user %>
          <% end %>
        </p>
      </section>
    <% end %>

    <% unless @user.followers.blank? %>
      <section>
        <h3><strong><%= @user.followers.count %></strong> followers</h3>
        <p>
          <% @user.followers.each do |user| %>
            <%= link_to image_tag(user.avatar.thumb.url, :title => user.fullname), user %>
          <% end %>
        </p>
      </section>
    <% end %>

    <% unless @user.following_albums.blank? %>
      <section>
        <h3><strong><%= @user.following_albums.count %></strong> following albums</h3>
        <p>
          <% @user.following_albums.each do |album| %>
            <%= link_to image_tag(album.cover.image.thumb.url, :title => album.name), album %>
          <% end %>
        </p>
      </section>
    <% end %>

    <% unless @user.likes.blank? %>
      <section>
        <h3><strong><%= @user.likes.count %></strong> likes</h3>
        <p>
          <% @user.likes.each do |picture| %>
            <%= link_to image_tag(picture.image.thumb.url, :title => picture.title), picture %>
          <% end %>
        </p>
      </section>
    <% end %>
  </aside>

  <div class="col-md-8">
    <h3>Activity Feed</h3>
    <%= render :partial => "shared/activities", :locals => { :activities => @activities } %>

    <% if user_signed_in? && (current_user == @user) %>
      <h3>News Feed</h3>
      <%= render :partial => "shared/timeline_entries", :locals => { :timeline_entries => @news_feed } %>
    <% end %>
  </div>
</div>
