<div class="activity <%= activity.kind %>">
  <div class="icon">
    <%= link_to(image_tag(activity.actor.avatar.thumb.url, :title => activity.actor.fullname), activity.actor) %>
  </div>
  <div class="content">
    <div class="title"><%= title.html_safe %></div>
    <% if activity.buddy %>
      <div class="buddy">
        <%= link_to(image_tag(activity.buddy.avatar.url, :title => activity.buddy.fullname), activity.buddy) %>
      </div>
    <% elsif activity.picture %>
      <div class="picture">
        <%= link_to(image_tag(activity.picture.image.small.url, :title => activity.picture.title), activity.picture) %>
      </div>
    <% elsif activity.album %>
      <div class="album">
        <%= link_to(image_tag(activity.album.cover.image.small.url, :title => activity.album.name), activity.album) %>
      </div>
    <% end %>
    <small class="date text-muted"><%= distance_of_time_in_words_to_now(activity.at, :include_seconds => true) %> ago</small>
  </div>
</div>
