<div class="row">
  <aside class="col-md-3">
    <section>
      <p>
        Welcome to the demo site of <%= link_to "activr", "https://github.com/fotonauts/activr" %>, the Ruby gem created by Fotonauts to manage activity feeds on <%= link_to "fotopedia", "http://www.fotopedia.com" %>.
      </p>
      <p>
        Please <%= link_to "login", new_session_path(:user) %> then perform actions to generate some activities.
      </p>
      <p>
        Source code is <%= link_to "available on github", "https://github.com/fotonauts/activr_demo" %>.
      </p>
      <p>
        Check out <%= link_to "our tumblr", "http://fotopedia-code.tumblr.com" %> for more awesomeness from fotopedia's team.
      </p>
    </section>
  </aside>
  <div class="col-md-9">
    <h3>Global Activity Feed</h3>

    <p>
      <em>The global activity feed displays all activities in your application.</em>
    </p>

    <%= render :partial => "shared/activities", :locals => { :activities => @activities } %>
  </div>
</div>
