<% provide(:title, "Add picture to album: #{@album.name}") %>

<div class="col-md-6 col-md-offset-3">
  <h3><%= "Upload in album: #{@album.name}" %></h3>

  <%= simple_form_for(@picture, :url => create_picture_album_path, :method => :post) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :title, :placeholder => 'My great picture', :required => true, :autofocus => true %>
      <%= f.input :image, :as => :file, :required => true %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Upload Picture", :class => 'btn-primary' %>
    </div>
  <% end %>
</div>
