<% provide(:title, @picture.title) %>

<div class="row">
  <aside class="col-md-4">
    <section>
      <h1><%= @picture.title %></h1>
      <p>
        uploaded by <%= link_to image_tag(@picture.owner.avatar.micro.url, :title => @picture.owner.fullname), @picture.owner %> <%= link_to @picture.owner.fullname, @picture.owner %>
      </p>

      <% if user_signed_in? && !@target_albums.blank? %>
        <%= form_tag(add_to_album_picture_path(@picture), :method => "post", :class => 'form-inline', :role => 'form') do %>
          <%= submit_tag("Add to album :", :class => 'btn btn-default') %>
          <%= select_tag(:album_id, options_from_collection_for_select(@target_albums, :id, :name), :class => "form-control") %>
        <% end %>
      <% end %>
    </section>

    <% unless @picture.albums.blank? %>
      <section>
        <h3>In <strong><%= @picture.albums.count %></strong> albums</h3>
        <p>
          <% @picture.albums.each do |album| %>
            <%= link_to image_tag(album.cover.image.thumb.url, :title => album.name), album %>
          <% end %>
        </p>
      </section>
    <% end %>

    <% unless @picture.likers.blank? %>
      <section>
        <h3><strong><%= @picture.likers.count %></strong> likes</h3>
        <p>
          <% @picture.likers.each do |user| %>
            <%= link_to image_tag(user.avatar.thumb.url, :title => user.fullname), user %>
          <% end %>
        </p>
      </section>
    <% end %>
  </aside>

  <div class="col-md-8">
    <%= image_tag(@picture.image.url, :title => @picture.title) %>
    <% if @picture.external_author %>
      <p class="external_author">by <%= link_to(@picture.external_author, @picture.external_author_url, :target => '_blank') %> <span class="glyphicon glyphicon-new-window"></span></p>
    <% end %>

    <% if user_signed_in? && (current_user != @picture.owner) %>
      <% if current_user.like?(@picture) %>
        <%= button_to("Unlike", unlike_picture_path(@picture), :method => :post, :class => 'button btn btn-danger') %>
      <% else %>
        <%= button_to("Like", like_picture_path(@picture), :method => :post, :class => 'button btn btn-primary') %>
      <% end %>
    <% end %>
  </div>
</div>
