<p>Title: <%= @picture.title %></p>
<p>Owner: <%= link_to @picture.owner.fullname, @picture.owner %></p>
<p>Featured: <%= @picture.featured %></p>

<h3>Appears in albums:</h2>
<% @picture.albums.each do |album| %>
  <p><%= link_to album.name, album %></p>
<% end %>

<h3>Likers:</h2>
<% @picture.likers.each do |user| %>
  <p><%= link_to user.fullname, user %></p>
<% end %>
